In [1]:
import pandas as pd
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],   
                   'B': ['B0', 'B1', 'B2', 'B3'],
                   'C': ['C0', 'C1', 'C2', 'C3'],
                   'D': ['D0', 'D1', 'D2', 'D3']},
                  index=[0, 1, 2, 3])

In [2]:
print(df1)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [3]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],   
                   'B': ['B4', 'B5', 'B6', 'B7'],   
                   'C': ['C4', 'C5', 'C6', 'C7'],
                   'D': ['D4', 'D5', 'D6', 'D7']},
                  index=[4, 5, 6, 7])
print(df2)

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [4]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [19]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],   
                   'B': ['B4', 'B5', 'B6', 'B7'],   
                   'C': ['C4', 'C5', 'C6', 'C7'],
                   'D': ['D4', 'D5', 'D6', 'D7']}, index=[6, 8, 10, 12])

In [20]:
df2.size

16

In [21]:
df2.shape

(4, 4)

TypeError: __init__() got an unexpected keyword argument 'index_col'

In [26]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],   
                   'B': ['B4', 'B5', 'B6', 'B7'],   
                   'C': ['C4', 'C5', 'C6', 'C7'],
                   'D': ['D4', 'D5', 'D6', 'D7']}, index=[4, 5, 6, 7])

In [28]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [29]:
df2.reindex(columns = ['B', 'C', 'A', 'D'])

    B   C   A   D
4  B4  C4  A4  D4
5  B5  C5  A5  D5
6  B6  C6  A6  D6
7  B7  C7  A7  D7

In [31]:
import pandas as pd
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],   
                   'B': ['B0', 'B1', 'B2', 'B3'],
                   'C': ['C0', 'C1', 'C2', 'C3'],
                   'D': ['D0', 'D1', 'D2', 'D3']},
                  index=[0, 1, 2, 3])
df1.head()

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [33]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],   
                   'B': ['B4', 'B5', 'B6', 'B7'],   
                   'C': ['C4', 'C5', 'C6', 'C7'],
                   'D': ['D4', 'D5', 'D6', 'D7']}, index=[4, 5, 6, 7])
df2.head()

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [34]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
  'D': ['D2', 'D3', 'D6', 'D7'],
  'F': ['F2', 'F3', 'F6', 'F7']},
  index=[2, 3, 6, 7])
df4.head()

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

In [35]:
result = pd.concat([df1, df4], axis=1)
result

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [36]:
result = pd.concat([df1, df4], axis=0)
result

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B2  NaN  D2   F2
3  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [37]:
result["A"]

0     A0
1     A1
2     A2
3     A3
2    NaN
3    NaN
6    NaN
7    NaN
Name: A, dtype: object